body {
  background-color: #d14972;
  }


h1 {
  color: #5a1e1e;
  font-family: Verdana;
}
h2 {
  color: white;
  font-family: Verdana;
}

p {
  color: white;
  font-family: Verdana;
}

li {
  color: rgb(153, 252, 252);
  font-family: Verdana;
}

a {
  color: #ecd196;
  font-family: Verdana;
}


em {color : rgb(190, 252, 190);
}


